<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bencorp.scrab">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_main_scordit"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_main_scordit"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
            <!--<intent-filter android:label="Open with">

                <action android:name="android.intent.action.VIEW"/>
                <data android:mimeType="video/*"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>-->
        </activity>

        <service
            android:name=".BackgroundTask"
            android:exported="false" />
        <receiver android:name=".NotificationReceiver"></receiver>

        <activity android:name=".SelfieWidgetActivity" />
        <provider
            android:authorities="${applicationId}.provider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>